@model IEnumerable<University.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Курсы</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.CourseID">Изменить</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CourseID">Детали</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CourseID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
