@model PaginatedList<University.Models.Enrollment>
@{
    ViewData["Title"] = "Index";
}

<h1>Регистрция</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить</a>
    <a class="btn btn-info" asp-action="Index">Назад к полному списку</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Класс
            </th>
            <th>
                Курс
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    Студент
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)  
                    @Html.DisplayFor(modelItem => item.Student.FirstMidName)
                </td>
                <td>
                    <a class="btn btn-secondary" class="fas fa-pencil-alt" asp-action="Edit" asp-route-id="@item.EnrollmentID">Изменить</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.EnrollmentID">Детали</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EnrollmentID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @prevDisabled">
    Предыдущий
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-light @nextDisabled">
    Следующий
</a>